body {
    background: #2C2C2C;
}
aside {
    float: left;
    background: #3d3d3d;
    width: 20%;
    padding: 2.5%;
    height: 100%;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}
aside .logo {
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
}
aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
}
aside ul li: hover, asideul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .gs {
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    table-aling: center;
    width: 75%;

}

main .t {
    width: 1000px;
    border: 5px solid #8d0317;
    border-bottom: 5px #03238d;
    margin: auto;
}